<!DOCTYPE html>
<html>
    <head>
        <title>Pongshore</title>
        <link rel="shortcut icon" href="~/img/favicon.png" />
        <link href="~/css/pong.css" rel="stylesheet" />
    </head>
    <body>
        <!--Page Content-->
        <div id="p1Tag" class="playerTag"></div>
        <div id="GameScreen">
            <label class="leftscore score"></label>
            <label class="rightscore score"></label>
            <span class="paddle left"></span>
            <span class="paddle right"></span>
            <span class="ball"></span>
        </div>
        <div id="p2Tag" class="playerTag"></div>
        <!--End Page Content-->
        <!--Scripts-->
        <script src="~/js/jquery-2.0.3.js"></script>
        <script src="~/js/pong.js"></script>
        <!--End Scripts-->
    </body>
</html>